#Home{
    background-color: var(--backgroundColor);
    padding-bottom: 3%;
}

#downimg img{
  width: 100%;
  padding: 0%;
  margin: 0;
}
#aboutngo{
    display: flex;
    gap: 30%;
    padding-bottom: 3%;
}
#aboutngo img {
    height: auto;
    width:500px ;
}
#vol {
    padding-top: 150px;
    padding-left: 3%;
}
#Join{
display: flex;
gap: 30px;
}
#About{
    display: flex;
    flex-direction: row;
padding-left: 5%;
padding-right: 5%;
gap:10%;
padding-top: 60px;
background-color: var(--backgroundColor);
}
#About img{
    width: 500px;
    height: auto;
}
#row{
    width: 60%;

}
h2{
    color: antiquewhite;
    font-size: 32px;
   
}
p{
    color: #a3b4d9;
   font-size: 24px;
    
}
h1{
    font-size: 42px
};

 