.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.centered-form form {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  background-color: #0c1d3e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-heading {
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  left:130px;
  top:-270px;
}

form{
  position: relative;
  right:60px;

}

.centered-form label {
  display: block;
  margin-bottom: 18px;
  color: #fff;

}

.centered-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.input-field{
  position: relative;
  left:-60px;
}
.centered-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left:-48px;
  top:10px;
}

.centered-form button:hover {
  background-color: #0056b3;
};