#ranksec{
    background-color:#060F30;
    padding-bottom: 5%;
    padding-top: 5%;
}
table{
    background-color: #0c1d3e ;
    color: #a3b4d9;
}
th{
    color: white;
}
 #ranksec h1{
    font-size: 32px;
    text-align: center;
}